[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
coverage = "*"
flake8 = "*"
ipdb = "*"
Sphinx = "*"
tox = "*"
pytest = "*"
pytest-runner = "*"

[requires]
python_version = "3.6"
